
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

.navbar {
  background-color: #8ea3e1;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-toggler {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  margin-right: 20px;
}

.navbar-item {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  border: 1px solid transparent;
  border-radius: 6px;
}

.navbar-item:hover {
  background-color: #555;
}

.navbar-item-right {
  margin-left: auto;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: RoyalBlue;
}

.container {
  max-width: 500px;
  margin: 20px auto; /* Added some margin for better spacing */
  background-color: #f0f0f0; /* Light gray background */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
  padding: 20px; /* Added padding for better spacing */
}

.header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center; 
}

.forms-container {
  margin-bottom: 3px;
}

.ssh-form, .localhost-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.ssh-form label, .localhost-form label {
  margin-bottom: 5px;
}

.ssh-form input[type="text"],
.ssh-form input[type="password"],
.ssh-form input[type="submit"],
.localhost-form input[type="submit"] {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.ssh-form input[type="submit"],
.localhost-form input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 5px;
}

.localhost-form input[type="submit"] {
  background-color: #00bbff;
  color: white;
  border: none;
  cursor: pointer;
}

.ssh-form input[type="submit"]:hover {
  background-color: #45a049;
}

.localhost-form input[type="submit"]:hover {
  background-color: #007bff;
}

.messages-container {
  margin-bottom: 3px;
}

.alert {
  padding: 3px;
  border-radius: 4px;
}

.alert.fail {
  background-color: #f44336;
  color: white;
  width: fit-content;

}

.alert.success {
  background-color: #4CAF50;
  color: white;
  width: fit-content;
}
