<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
  <h2>Active Processes</h2>

  <table class="w3-table-all w3-hoverable">
    <thead>
      <tr class="w3-light-grey">
        <th>PID</th>
        <th>Name</th>
        <th>Status</th>
        <th>Start_Date</th>

      </tr>
    </thead>
    <tr>
      <td>123</td>
      <td>p1</td>
      <td>456</td>
      <td>789</td>
    </tr>
    <tr>
      <td>321</td>
      <td>p2</td>
      <td>543</td>
      <td>421</td>
    </tr>
    <tr>
      <td>678</td>
      <td>p4</td>
      <td>999</td>
      <td>67</td>
    </tr>
  </table>
</div>

<script>
  function fetchActiveProcessData() {
    fetch('/active_processes_data')
      .then(response => response.json())
      .then(data => {
        document.querySelector('p').innerHTML = 'Active Processes Count: ' + data.process_counts;
        const tbody = document.querySelector('table tbody');
        tbody.innerHTML = '';
        data.process_list.forEach((process) => {
          const row = <tr>
            <td>${process.id}</td>
            <td>${process.measurement_time}</td>
            <td>${process.pid}</td>
            <td>${process.name}</td>
            <td>${process.status}</td>
            <td>${process.start_date}</td>
          </tr>;
          tbody.innerHTML += row;
        });
      });
  }

  // Fetch data every 60 seconds
  setInterval(fetchActiveProcessData, 60000);

  // Fetch data on initial load
  fetchActiveProcessData();
</script>

</body>
</html>
