<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
  <br>
  <form>
    <div style="display: flex; justify-content: flex-end;">
      <input type="button" value="&#8962; Home" onclick="history.back()" class="btn">
    </div>
  </form>

  <h2>Active Processes</h2>

  <table class="w3-table-all w3-hoverable">
    <thead>
      <tr class="w3-light-grey">
        <th>id</th>
        <th>measurement_time</th>
        <th>pid</th>
        <th>name</th>
        <th>status</th>
        <th>start_date</th>
      </tr>
    </thead>
  {% for cur_active_process in active_processes_list %}
    <tr>
      <td>{{cur_active_process.id}}</td>
      <td>{{cur_active_process.measurement_time}}</td>
      <td>{{cur_active_process.used}}</td>
      <td>{{cur_active_process.free}}</td>
      <td>{{cur_active_process.usage_percent}}</td>
    </tr>
  {% endfor %}
  </table>
</div>

</body>
</html>
