<!DOCTYPE html>
<html>
<head>
  <title> CPU Usage Monitor </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<div class="w3-container">
  <br>
  <div style="display: flex; justify-content: flex-end;">
    <button class="btn" onclick="history.back()">&#8962; Home</button>
  </div>

  <h2>CPU Usage</h2>
  <p id="cpu_counts"> CPU Cores Count: </p>
  <table id="cpu_table" class="w3-table-all w3-hoverable">
    <thead>
      <tr class="w3-light-grey">
        <th>ID</th>
        <th>Measurement Time</th>
        <th>Time User</th>
        <th>Times System</th>
        <th>Times Idle</th>
        <th>Usage Percent</th>
      </tr>
    </thead>
    <tbody id="cpu_table_body">
    </tbody>
  </table>
</div>

<script>
  function fetchCPUData() {
    fetch('/cpu_usage_data')
      .then(response => response.json())
      .then(data => {
        document.getElementById('cpu_counts').textContent = 'CPU Cores Count: ' + data.cpu_counts;
        const tbody = document.getElementById('cpu_table_body');
        tbody.innerHTML = '';
        data.cpu_list.forEach((cur_cpu) => {
          const row = `<tr>
            <td>${cur_cpu.id}</td>
            <td>${cur_cpu.measurement_time}</td>
            <td>${cur_cpu.times_user}</td>
            <td>${cur_cpu.times_system}</td>
            <td>${cur_cpu.times_idle}</td>
            <td>${cur_cpu.usage_percent}</td>
          </tr>`;
          tbody.innerHTML += row;
        });
      });
  }

  // Fetch data every 60 seconds
  setInterval(fetchCPUData, 10000);

  // Fetch data on initial load
  fetchCPUData();
</script>
</body>
</html>
