<!DOCTYPE html>
<html>
<head>
<title>System Monitor</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="{{ url_for('static', filename='mystyle.css')}}" rel="stylesheet">
</head>
<body>

  <nav class="navbar">
    <a href="cpu_usage" class="navbar-item">CPU Usage</a>
    <a href="memory_utilization" class="navbar-item">Memory Utilization</a>
    <a href="disk_space" class="navbar-item">Disk Space</a>
    <a href="active_processes" class="navbar-item">Active Processes</a>
    <div class="navbar-item-right">
      <a id="hostnameLabel" href="#" class="navbar-item">{{ hostname }}</a>
    </div>
  </nav>  

    <div class="header">System Monitor</div>
    
    <div class="container">    
    <div class="forms-container">
      <form id="sshForm" class="ssh-form" action="/ssh-connect" method="post">
        <label for="hostname">Hostname:</label>
        <input type="text" id="hostname" name="hostname">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <input type="submit" value="Connect via SSH">
      </form>
    
      <form id="localhostForm" class="localhost-form" action="/set_localhost" method="post">
        <input type="submit" value="Connect via LocalHost">
      </form>
    </div>
  
    <div class="messages-container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert {{ category }}">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
  </div>

<script>
  // Change style of navbar on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
    } else {
        navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
    }
}

function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>
</body>
</html>
